/* Tiptap.css */
.tiptap .is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.custom-editor .ProseMirror:focus {
    outline: none;
}
.custom-editor .ProseMirror {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    color: #6b7280;
    background-color: #EEEEEE;
    border-radius: 25px;
    padding: 12px;
    min-height: 46px;
}

@media screen and (min-width: 1280px) {
    .custom-editor .ProseMirror {
        padding: 16px;
    }
}